<section>
	<div class="small-12 columns"><h4 class="subheader">{{formu2}}</h4></div>
	<div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Duration
        <input type="number" size="4" placeholder="number of weeks" ng-model="formData.tiempo"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Key words
        <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" ng-model="formData.clave" placeholder="write a Key word">
        </div>
        <div class="small-3 columns">
          <button ng-click="addKey()" class="success postfix">add Key</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <ul id="keywords" class="small-10 small-offset-1 columns inline-list">
        <li style="color: white;margin-bottom:.5em;" ng-repeat="key in keys" class="difuminar">
          <span class="label default radius">{{key}}</span> 
        </li>
    </ul>
    </div>
    <div class="small-6 columns text-center">
      <a id="boton" ui-sref="create.datos" class="button tiny alert radius"><i class="fa fa-arrow-circle-left"></i> Back</a>
      <a id="boton" ui-sref="create.datos3" class="button tiny radius">Next <i class="fa fa-arrow-circle-right"></i></a>
    </div>


  </div>
  
</section>