<section>
	<div class="small-12 columns"><h4 class="subheader">{{formu2}}</h4></div>
	<div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Duration
        <input type="number" size="4" placeholder="number of weeks" ng-model="form.weeks"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Description
        <textarea rows="3" placeholder="Amazing experience..." ng-model="form.desc"></textarea>
      </label>
    </div>
  </div>
  <div class="row text-center">
  	<a id="boton" ng-click="iraFormDos()" class="button tiny radius">Next <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</section>