<section>
<style>
	

</style>
	<div class="small-12 columns"><h4 class="subheader">{{formu1}}</h4></div>
	<div class="row">
    <div class="small-10 small-offset-1 columns radius">
      <label>Name
        <input class="radius" type="text" placeholder="Adventure name" ng-model="formData.nombre"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Description
        <textarea class="radius" rows="3" placeholder="Amazing experience..." ng-model="formData.descrip"></textarea>
      </label>
    </div>
  </div>
  <div class="row text-center">
  <a id="boton" ui-sref="create.datos2" class="button tiny radius skew-forward">Next <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</section>