<section class="wrap-create">

	<div class="cabecera">
		<h1 class="londrina">new Adventure</h1>

	</div>
	<div class="row">
		<div id="formu" class="small-12 medium-6 medium-offset-3 large-6 large-offset-3 columns">
			<h1 class="londrina">ENTRY</h1>
			<ul id="menu-create" class="inline-list right">
				<li><a ui-sref=".datos">UNO</a></li>
				<li><a ui-sref=".datos2">DOS</a></li>
				<li><a href="">TRES</a></li>
			</ul>

			<div class="row">
				<form action="" ng-submit="">
					<div ui-view autoscroll="false" class="difuminar"></div>
				</form>
			</div>
		</div>
	</div>
</section>