<section>
<style>
	

</style>
	<div class="small-12 columns"><h4 class="subheader">{{formu1}}</h4></div>
	<div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Name
        <input type="text" placeholder="Adventure name" ng-model="form.nombre"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-offset-1 columns">
      <label>Description
        <textarea rows="3" placeholder="Amazing experience..." ng-model="form.descrip"></textarea>
      </label>
    </div>
  </div>
  <div class="row text-center">
  	<a id="boton" ng-click="iraFormDos()" class="button tiny radius">Next <i class="fa fa-arrow-circle-right"></i></a>
  </div>
</section>